*
!*.*
!*/
test.*
보석 쇼핑.js
input.txt

2021 Dev-Matching: 웹 백엔드_진짜마지막 코딩테스트/
2021 Dev-Matching: Silicon Valley/
2021 Winter Coding/
Fintech Server 1차/
Good Bye, BOJ 2021/
SW Expert Academy/*/
Hello, BOJ 2022/
.vscode/